<div class="container">
    <div class="row topmargin">
        <div class="col-md-10">  
             <h1>Bæta við eftirlitsferð</h1>
        </div>
    </div>
</div>

<div class="container ">
    <form class="form-horizontal" ng-submit="addVisitCatagory()">
        
        <div class="white-bg">
            <div class="row "> 
                <div class="col-md-12">  
                        <div ng-show="error" class="alert alert-danger row">
                            <span>{{ error.message }}</span>
                        </div>    
                    <div class="col-md-6"> 
                        <div class="form-group ">
                            <div class="col-md-10"></div>
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="form-group">
                            <label for="mySelect" class="col-sm-4 control-label">Stöð:</label>
                            <div class="col-sm-6">
                            <select name="mySelect" id="mySelect" ng-options="option.name for option in data.stationOptions track by option.id" ng-model="data.stationSelected"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="commentreason" class="col-sm-4 control-label">Athugasemd vegna heimsóknar</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Athugasemd vegna heimsóknar" ng-model="commentreason">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reason_comment" class="col-sm-4 control-label">Ástæða heimsóknar</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Ástæða heimsóknar" ng-model="reason_comment">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="work_done" class="col-sm-4 control-label">Vinna sem var gerð</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Vinna sem var gerð" ng-model="work_done">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comments" class="col-sm-4 control-label">Athugasemdir</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Athugasemdir" ng-model="comments">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nextvisit" class="col-sm-4 control-label">Framkvæmd næst</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" placeholder="Framkvæmd næst" ng-model="nextvisit">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mySelect" class="col-sm-4 control-label">Starfsmaður 1:</label>
                            <div class="col-sm-6">
                                <select name="mySelect" id="mySelect" ng-options="option.name for option in data.userOptions track by option.id" ng-model="data.userSelected"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mySelect" class="col-sm-4 control-label">Starfsmaður 2:</label>
                            <div class="col-sm-6">
                                <select name="mySelect" id="mySelect" ng-options="option.name for option in data.user2Options track by option.id" ng-model="data.user2Selected"></select>
                            </div>
                        </div>
                   
                        <div class="form-group">
                            <label for="mySelect"class="col-sm-4 control-label" >Starfsmaður 3:</label>
                            <div class="col-sm-6">
                                <select name="mySelect" id="mySelect" ng-options="option.name for option in data.user3Options track by option.id" ng-model="data.user3Selected"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="form-group ">
                            <div class="col-md-10"></div>
                            <div class="col-md-6">&nbsp;</div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="equipment">
                       
                           Breytingar á tækjabúnaði
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="refurbish">
                           
                           Viðgerð fór fram
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="precipitation_gauge">
                          
                          Úrkomumælir tæmdur
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="telecommunications_equipment">
                         
                         Fjarskiptabúnaður prófaður
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="bearings">
                         
                         Skipt um legur í vindmæli
                          </label>
                        </div>
                         <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="battery">
                           
                         Rafgeymir/Aflgjafi endurnýjaður
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="operating_system">
                           
                         Forrit uppfært
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="desiccant_refurbished">
                          
                         Þurrkefni endurnýjuð
                          </label>
                        </div>
                         <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="altimeter"> 
                           
                         Hæðarmæling gerð
                          </label>
                        </div>
                       
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="station_isokei">
                          
                      Stöð er í lagi
                          </label>
                        </div>
                         <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="other">
                          
                       Aðrar athugasemdir
                          </label>
                        </div>
                     
                        <div ng-show="other"class="form-group">
                             <label for="vccomment" class="col-sm-3 control-label pull-left">Athugasemdir</label>
                             <div class="col-sm-9">
                                  <input type="text" class="form-control" placeholder="Athugasemd" ng-model="vccomment">
                             </div>
                        </div>
                    </div>
                   <div class="form-group">
                        <div class="col-md-10 pull-right">
                            <button type="submit" class="btn btn-default pull-right">Vista</button>    
                        </div>
                    </div> 
                   
                </div>
            </div>
        </div>
    </form>
</div>