<div class="container">
    <div class="row topmargin">
        <div class="col-md-7">  
            <h1>Eftirlitsferð</h1>
        </div>
        <div class="col-md-5" ng-show="isAdmin">  
            <button type="submit" ui-sref="home.stationVisit" class="btn btn-default pull-right margradius">Skoða öll eftirlit</button>
        </div>
    </div>
</div>

<div class="container"> 
  <div  class="row">
    <form name="myForm" class="form-horizontal">
      <div class="white-bg">
        <div class="row">
         <div data-ng-repeat="item in visitsById"> 
          <div class="col-md-12"> 
            <div class="col-md-6"> 
              
                <div class="form-group">
                    <label class="col-md-4 control-label">Eftirlitsferð númer</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="f-name" ng-model="item.id" value="{{item.id}}" readonly>
                        </div>
                </div>  
                <div class="form-group">
                    <label class="col-md-4 control-label">Stöð</label>
                        <div class="col-md-8">
                            <input type="text"  id="f-name" ng-model="item.sname" value="{{item.sname}}" readonly>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Ástæða heimsóknar</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" id="f-name" ng-model="item.reason_comment" value="{{item.reason_comment}}" readonly>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Vinna sem var gerð </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="f-name" ng-model="item.work_done" value="{{item.work_done}}" readonly>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Athugasemdir </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="f-name" ng-model="item.comments" value="{{item.comments}}" readonly>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Næsta eftirlit </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="f-name" ng-model="item.nextvisit" value="{{item.nextvisit}}" readonly>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Stöð í lagi </label>
                        <div class="col-md-8">
                            <span ng-if="item.station_isokei">Já</span>
                            <span ng-if="!item.station_isokei">Nei</span>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Starfsmaður</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="f-name" ng-model="item.uname" value="{{item.uname}}" readonly>
                        </div>
                </div>
                <div class="form-group" ng-hide="!item.other">
                        <label class="col-md-4 control-label">Athugasemdir fyrir annað </label>
                        <div class="col-md-8" >
                            <input type="text" class="form-control" id="f-name" ng-model="item.vccomment" value="{{item.vccomment}}" readonly>
                        </div>
                    </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-6 control-label">Breytingar á tækjabúnaði</label>
                    <div class="col-md-2">  
                        <span ng-if="item.equipment">Já</span>
                        <span ng-if="!item.equipment">Nei</span>     
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Viðgerð / endurbætur </label>
                    <div class="col-md-2">  
                        <span ng-if="item.refurbish">Já</span>
                        <span ng-if="!item.refurbish">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Prófun / kvörðun </label>
                    <div class="col-md-2">
                        <span ng-if="item.scale">Já</span>
                        <span ng-if="!item.scale">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Skipt um legur </label>
                    <div class="col-md-2">
                        <span ng-if="item.bearings">Já</span>
                        <span ng-if="!item.bearings">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Úrkomumælir prófaður eða tæmdur </label>
                    <div class="col-md-2">
                        <span ng-if="item.precipitation_gauge">Já</span>
                        <span ng-if="!item.precipitation_gauge">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Fjarskiptabúnaður prófaður </label>
                    <div class="col-md-2">
                        <span ng-if="item.telecommunications_equipment">Já</span>
                        <span ng-if="!item.telecommunications_equipment">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Rafgeymir / aflgjafi endurnýjaður </label>
                    <div class="col-md-2">
                        <span ng-if="item.battery">Já</span>
                        <span ng-if="!item.battery">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Forriti breytt / nýtt stýrikerfi </label>
                    <div class="col-md-2">
                        <span ng-if="item.operating_system">Já</span>
                        <span ng-if="!item.operating_system">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Þurrkefni endurnýjað </label>
                    <div class="col-md-2">
                        <span ng-if="item.desiccant_refurbished">Já</span>
                        <span ng-if="!item.desiccant_refurbished">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Hæðir mældar </label>
                    <div class="col-md-2">
                        <span ng-if="item.altimeter">Já</span>
                        <span ng-if="!item.altimeter">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Myndir teknar </label>
                    <div class="col-md-2">
                        <span ng-if="item.photos_taken">Já</span>
                        <span ng-if="!item.photos_taken">Nei</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Annað  </label>
                    <div class="col-md-2">
                        <span ng-if="item.other">Já</span>
                        <span ng-if="!item.other">Nei</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    </form>
  </div>
</div>
                