<div id="edit-station" class="tab-pane">
    <section class="panel">                                          
        <div class="panel-body bio-graph-info">
            <h3>Bæta við athugasemd</h3>
            <form class="form-horizontal" role="form" ng-submit="addStationComments()">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Athugasemd</label>
                    <div class="col-lg-10">
                        <textarea name="" id="" class="form-control" cols="30" ng-model="comment" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Vista</button>
                    </div>
                </div> 
            </form>
        </div>
    </section>
</div>