<div class="container">
        <div class="col-md-12 vcenter">
            <img id="login-img" src="/image/logo_web_white.png" />
        </div>
        <div class="col-md-4 col-sm-4 vcenter ">

            <div class="col-lg-4">
                <div ng-show="error" class="alert alert-danger row">
                     <span>{{ error.message }}</span>
                </div> 
            </div>  
            <form ng-submit="resetPassword()" class="form-horizontal">     <div class="login-wrap white-bg">
                <h1 class="padBottom">Breyta lykilorði</h1>   
                    <p class="login-img"><i class="icon_lock_alt"></i></p>
                    <p style="color: #333333;"> Vinsamlegast sláðu inn netfangið þitt til að endursetja lykilorðið þitt.</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>

                        <input type="text" class="form-control" placeholder="Netfang" ng-model="email" autofocus></input>
                    </div>

                    <button class="btn btn-default btn-block topmargin" type="submit">Endursetja lykilorð</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">&nbsp;</div>
    </div>
</div>
