* { 
    margin: 0; 
    padding: 0; 
}


@media only screen and (max-width: 800px) {
    #unseen table td:nth-child(2), 
    #unseen table th:nth-child(2) {display: none;}
}
 
@media only screen and (max-width: 640px) {
    #unseen table td:nth-child(4),
    #unseen table th:nth-child(4),
    #unseen table td:nth-child(7),
    #unseen table th:nth-child(7),
    #unseen table td:nth-child(8),
    #unseen table th:nth-child(8){display: none;}
}

p {
    margin: 22px 0; 
}
.table-responsive{
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}



/* 
Generic Styling, for Desktops/Laptops 
*/

/*----------- css fyrir search ---------*/

.global-search {
    text-align:center;
    padding:0px;
  }
   .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

   .global-search .form-control {
      width:120px;
  }

   .global-search a {
    display:block;
    padding-top:10px;
  }



@media (min-width:400px){
   .global-search {
    padding: 20px 0;
    text-align:center;
    }

   .global-search .form-control {
    width:300px;
   }

}
