<div class="container">
    <div class="row topmargin">
        <div class="col-md-10">  
               <h1>Tegund tækis</h1>
        </div>
         <div class="col-md-2 pull-right">  
            <button type="submit" ng-click="sub=!sub"  class="btn btn-default pull-right">Skrá Tegund tækis</button>
        </div>
    </div>
</div>
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>







<!-- Add item  status starts -->
<div class="container"> 
    <div ng-show="sub" class="row">
        <form ng-show="sub" class="form-horizontal" ng-submit="addItemType()">
             <div class="white-bg">
                <div class="row">
                    <div class="col-md-12">      
                        <div class="col-md-10"> 
                            <div ng-show="error" class="alert alert-danger row">
                                <span>{{ error.message }}</span>
                            </div>
                            <div class="form-group">
                                <label for="itemstatus" class="col-sm-3 control-label">Tegund Tækis</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="itemstatus" placeholder="Name" ng-model="typename.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 pull-right">
                                   <button type="submit" ng-click="sub=!sub"  class="btn btn-default pull-right">Vista</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container white-bg1">
    <div class="row">
        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>
    </div>
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Sláðu inn leitarorð</label>
                <input type="text"  ng-model="searchText" class="form-control" name="search" id="search" placeholder="Sláðu inn leitarorð">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table>
                <tbody>
                    <tr> 
                        <th><i class="glyphicon glyphicon-tag"></i> Tegund</th>
                        <!--<th ng-show="isAdmin"><i class="icon_cogs"></i> Aðgerðir</th>-->
                    </tr>
                    <tr data-ng-repeat="item in allitemtypes | orderBy:'name' | filter:searchText"> 
                        <td>{{ item.name }}</td>  
                        <!--<td ng-show="isAdmin">
                            <div class="btn-group">
                                <a class="btn btn-primary" ><i class="icon_plus_alt2"></i></a>
                                <a class="btn btn-success" ><i class="icon_check_alt2"></i></a>
                                <a class="btn btn-danger" ><i class="icon_close_alt2"></i></a>
                            </div>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <img src="/image/web/taekistada.jpg" width="100%">
        </div>
    </div>
</div>