<!-- edit-station -->
<div id="edit-station" class="tab-pane">
    <section class="panel">                                          
        <div class="panel-body bio-graph-info">
            <h1> Device Added!!!</h1>
            <form class="form-horizontal" role="form">                                           
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nafn</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="f-name" ng-model="deviceId.item_type" value="{{deviceId.item_type}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nafn2</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="f-name" ng-model="deviceId.producer" value="{{deviceId.producer}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nafn3</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="f-name" ng-model="deviceId.owner" value="{{deviceId.owner}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nafn4</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="f-name" ng-model="deviceId.comment" value="{{deviceId.comment}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nafn6</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="f-name" ng-model="deviceId.item_status" value="{{deviceId.item_status}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nafn7</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="f-name" ng-model="deviceId.imageurl" value="{{deviceId.imageurl}}">
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>