<div class="container">
    <div class="row topmargin">
        <div class="col-md-10">  
             <h1>Aflgjafi kerfis</h1>
        </div>
        <div class="col-md-2 pull-right">  
            <button ng-show="isAdmin" ng-model="sub" ng-click="sub=!sub"  type="button" class="btn btn-default pull-right">Bæta við Aflgjafa</button>
        </div>
    </div>
</div>

<div class="container"> 
    <div ng-show="sub" class="row">
        <form class="form-horizontal" ng-submit="addPowerGenType()">   
            <div class="white-bg">
                <div class="row "> 
                    <div class="col-md-12">      
                        <div class="col-md-10"> 
                            <div ng-show="error" class="alert alert-danger row">
                                <span>{{ error.message }}</span>
                            </div>
                            <div class="form-group">
                                <label for="zone" class="col-sm-3 control-label">Tegund á aflgjafa</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 pull-right">
                                    <button  ng-click="sub=!sub"  type="submit" class="btn btn-default pull-right">Vista</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container white-bg1">
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Sláðu inn leitarorð</label>
                <input type="text" ng-model="searchText" class="form-control" name="search" id="search" placeholder="Sláðu inn leitarorð">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table >
                <tbody>
                    <tr>
                        <!--<th>#</th>-->
                        <th><i class="glyphicon glyphicon-exclamation-sign"></i>Aflgjafi</th>
                        <th ng-show="isAdmin"><i class="glyphicon glyphicon-cog"></i> Aðgerðir</th>
                    </tr>
                    <tr dir-paginate="power in AllPowerGenType | orderBy:'name' |  filter:searchText | itemsPerPage:10">
                        <!--<td>{{ power.id }}</td> -->
                        <td>{{ power.name }}</td>  
                        <td ng-show="isAdmin">
                            <div class="btn-group">
                                <button type="button" ui-sref="home.editpgt({name : power.name})" class="btn-small"><i class="glyphicon glyphicon-edit"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" > </dir-pagination-controls>
        </div>
        <div class="col-md-6">
            <img src="/image/web/powergen.png" width="90%">
        </div> 
    </div>
</div>




