
<div class="container">
    <div class="row topmargin">
        <div class="col-md-10">  
            <h1>Allar stöðvar</h1>
        </div>
        <div class="col-md-2 pull-right">  
            <button ng-show="isAdmin"type="button" ng-model="sub" ng-click="sub=!sub" class="btn btn-default pull-right">Bæta við stöð</button>
        </div>
        

    </div>
 </div>

    
<!-- Add station starts -->

<div class="container"> 
    <div ng-show="sub" class="row">
        <form name="myForm" ng-show="sub" ng-submit="addStation()"  class="form-horizontal">
            <div class="white-bg">
                <div class="row "> 
                    <div class="col-md-12">  
                        <div class="col-md-6"> 
                            <div ng-show="error" class="alert alert-danger row">
                                <span>{{ error.message }}</span>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Nafn stöðvar</label>
                                <div class="col-sm-6">
                                    <input type="text" name="firstname" class="form-control" placeholder="Nafn á stöð" ng-model="sname" required>
                                    <div ng-messages="myForm.firstname.$error">
                                        <div ng-message="required">Nafn er skylda</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName"  class="col-sm-4 control-label">VMO innanhús</label>
                                <div class="col-sm-6">
                                  <input type="text" name="vmo" class="form-control" placeholder="VMO innanhúss" ng-model="smarker" required>
                                  <div ng-messages="myForm.vmo.$error">
                                        <div ng-message="required">VMO innanhúss er skylda</div>
                                    </div>
                                  
                                  </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">VMO</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="VMO" ng-model="spermanent_marker"></input>
                                  
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Breiddargráða</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Breiddargráða" ng-model="slat"></input>
                                  
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Lengdargráða</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Lengdargráða" ng-model="slon" ></input>
                                  
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Hæð</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Hæð" ng-model="saltitude"></input>
                                  
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Lýsing</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" placeholder="Lýsing" ng-model="sdescription" rows="5" ></input>
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Lýsing á staðsetningu</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Lýsing á staðsetningu" ng-model="scomment"></input>
                                </div>
                                  
                            </div>  
                           
                          
                            <div class="form-group">
                                <label for="inputName" class="col-sm-4 control-label">Mynd</label>
                                 <div class="col-sm-6">
                                    <input type="file" ngf-select ngf-change="uploadStationPic(picFile)"  ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" >
                                          <i ng-show="myForm.file.$error.required"></i><br>
                                          <i ng-show="myForm.file.$error.maxSize">Mynd og stór {{picFile.size / 1000000|number:1}}MB: Má ekki vera stærri en 2MB</i>
                                          <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
                                          <img ng-show="!myForm.file.$valid" src="/image/stations/undefined.png" height="100" width="100" >
                                          <br>
                                </div>
                                
                            </div>

                       <!--     <div class="col-sm-6">
                                <div class="form-group">
                                      <br>Photo:
                                      <input type="file" ngf-select ngf-change="uploadStationPic(picFile)"  ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" >
                                      <i ng-show="myForm.file.$error.required"></i><br>
                                      <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
                                      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
                                      <img ng-show="!myForm.file.$valid" src="/image/stations/undefined.png" height="100" width="100" >
                                      <br>
                                      <span class="progress" ng-show="picFile.progress >= 0">
                                        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                                      </span>
                                      <span ng-show="picFile.result">Upload Successful</span>
                                      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                    <br>
                                </div>
                            </div>-->
                       
                                   
                        </div>
           
                        <div class="col-sm-5 col-md-offset-1">     
                            <div class="form-group">
                                <label for="mySelect"  class="col-sm-4 control-label">Net:</label>
                                <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"ng-options="option.name for option in data.networkAvailable track by option.id"ng-model="data.networkSelected"></select>
                                 </div>
                            
                          
                            <!--<tt>option = {{data.networkSelected}}</tt><br/>-->
                            </div>
                            <div class="form-group">
                                <label for="mySelect"  class="col-sm-4 control-label">Staðsetning:</label>
                                    <div class="col-sm-6">
                                        <select name="mySelect" id="mySelect"
                                    ng-options="option.name for option in data.zoneAvailable track by option.id"
                                    ng-model="data.zoneSelected"></select>
                                </div>
                             
                            <!--<tt>option = {{data.zoneSelected}}</tt><br/>-->
                            </div>
                           
                            <div class="form-group">
                                <label for="mySelect"  class="col-sm-4 control-label">Tegund stöðvar:</label>
                                    <div class="col-sm-6">
                                        <select name="mySelect" id="mySelect"
                                    ng-options="option.name for option in data.typeAvailable track by option.id"
                                    ng-model="data.typeSelected"></select>
                                </div>
                              
                            <!--<tt>option = {{data.typeSelected}}</tt><br/>-->
                            </div>

                            <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Eigandi gagna:</label>
                                 <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                    ng-options="option.name for option in data.contactDataAvailable track by option.id"
                                    ng-model="data.contactDataSelected"></select>
                                </div>
                            
                            <!--<tt>option = {{data.contactSelected}}</tt><br/>-->
                            </div>

                            <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Aflgjafi:</label>
                                 <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                    ng-options="option.name for option in data.powerAvailable track by option.id"
                                    ng-model="data.powerSelected"></select>
                                </div>
                            
                            <!--<tt>option = {{data.powerSelected}}</tt><br/>-->
                            </div>   

                            <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Spásvæði:</label>
                                 <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                    ng-options="option.area for option in data.areaAvailable track by option.id"
                                    ng-model="data.areaSelected"></select>
                                </div>
              
                            <!--<tt>option = {{data.areaSelected}}</tt><br/>-->
                            </div>   
                            <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Umhverfi:</label>
                                 <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                    ng-options="option.surroundings for option in data.surroundingAvailable track by option.id"
                                    ng-model="data.surroundingSelected"></select>
                                </div>
                            
                            <!--<tt>option = {{data.surroundingSelected}}</tt><br/>-->
                            </div>   
                           
                             <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Eigandi Stöðvar:</label>
                                 <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                    ng-options="option.name for option in data.contactOwnerAvailable track by option.id"
                                    ng-model="data.contactOwnerSelected"></select>
                                </div>
                       
                            <!--<tt>option = {{data.contactOwnerSelected}}</tt><br/>-->
                            </div>  
                            <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Landslag:</label>
                                 <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                    ng-options="option.landscape for option in data.availableOptions track by option.id"
                                    ng-model="data.selectedOption"></select>
                                </div>
                            <!--<tt>option = {{data.selectedOption}}</tt><br/>-->
                            </div>   
                    <!--
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Stöð virk</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Is Active" ng-model="sis_active"></input>
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                    -->     
                    <div class="form-group">
                                <div class="radiob">
                                    <input type="radio" name="radio" id="radio1" class="radio"  ng-value="true" ng-model="sis_active"checked/>
                                    <label for="radio1">Stöð í lagi</label>
                                </div>

                                <div radiob>
                                    <input type="radio" name="radio" id="radio2" class="radio"  ng-value="false" ng-model="sis_active"/>
                                    <label for="radio2">Stöð biluð</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mySelect"  class="col-sm-4 control-label">Umsjónaraðili</label>
                                    <div class="col-sm-6">
                                        <select name="mySelect" id="mySelect"
                                            ng-options="option.name for option in data.contactAvailable track by option.id"
                                            ng-model="data.contactSelected"></select>
                                         </div>                           
                            <!--<tt>option = {{data.contactSelected}}</tt><br/>-->
                            </div> 

                           <div class="form-group">
                                <label for="mySelect" class="col-sm-4 control-label">Starfsmaður</label>
                                <div class="col-sm-6">
                                    <select name="mySelect" id="mySelect"
                                        ng-options="option.name for option in data.contactCareAvailable track by option.id"
                                        ng-model="data.contactCareSelected"></select>
                                </div>                            
                            <!--<tt>option = {{data.contactCareSelected}}</tt><br/>-->
                            </div>
                           <!-- <div class="form-group topmargin brd-radio-top">
                                    <span class="col-md-6 font-bigger">Stöð í lagi? </span>
                                    <span class="col-md-1">
                                    <label for="radio">Já</label>
                                    <input type="radio" name="status1" ng-value="true" ng-model="sis_active"/>
                                    </span>
                                    <span class="col-md-1">
                                    <label for="radio">Nei</label>
                                    <input type="radio" name="status1" ng-value="false" ng-model="sis_active"/>
                                    </span>
                            </div>  -->                         
                        </div>
                        <div class="col-sm-12" "col-md-offset-5">
                            <button type="submit"  ng-click="sub=!sub"  class="btn btn-primary pull-right">Skrá stöð</button>
                            </hr>

                        </div>
                       
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row pad-top">
        <div class="col-md-5 col-md-offset-3">
            <div class="form-group has-feedback">
                <label for="search"  ng-model="searchText" class="sr-only">Sláðu inn leitarorð</label>
                <input type="text" ng-model="searchText" class="form-control" name="search" id="search" placeholder="Sláðu inn leitarorð">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row topmargin">
        <div class="col-md-12">  
            <table>
                <tbody>
                    <tr>
                        <th><i class="glyphicon glyphicon-home"></i> Nafn</th>
                        <th><i class="glyphicon glyphicon-calendar"></i> Tekin í notkun</th>
                        <th><i class="glyphicon glyphicon-calendar"></i> Tekin niður</th>
                        <th><i class="fa fa-desktop"></i> Network</th>
                        <th><i class="glyphicon glyphicon-user"></i> Tengiliður</th>
                        <th><i class="glyphicon glyphicon-globe"></i> Spásvæði</th>
                        <th><i class="glyphicon glyphicon-pawn"></i> Tegund stöðvar</th>
                        <th ng-show="isAdmin"><i class="glyphicon glyphicon-cog"></i> Aðgerðir</th>
                    </tr>
                    <tr dir-paginate="station in stations | orderBy:'name' |  filter:searchText | itemsPerPage:10"> 
                        
                        <td><a ui-sref="home.profile({name :station.name})">
                            {{ station.name }}</a></td>
                        <td>{{ station.date_from | date:'medium'}}</td>
                        <td>{{ station.date_to | date:'medium'}}</td>
                        <td>{{ station.network_name }}</td>
                        <td>{{ station.contact_name }}</td>
                        <td>{{ station.zone_name }}</td>
                        <td>{{ station.stype_name }}</td>
                        <td ng-show="isAdmin">
                            <div class="btn-group">
                                <button type="button" ui-sref="home.edit({name :station.name})" class="btn-small pull-right"><i class="glyphicon glyphicon-edit"></i></button>
                                <button type="button" ng-click="isActive($index)" class="btn-small pull-right"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" > </dir-pagination-controls>
        </div>         
    </div>
</div>
