<div class="page-header">
  <h1>Bæta við Attributes</h1>
</div>
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>
<div class="form-group">
  <label for="mySelect">Add attributes:</label>    
  <ui-select ng-model="data.attributesSelected">
    <ui-select-match>
       <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in showattribute| filter: $select.search track by item.id">
      <span ng-bind-html="item.name | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>
  <input type="text" ng-model="attributevalues.value" name="" placeholder="">
</div>
  <!--<select
        ng-options="option.name for option in data.attributesAvailable track by option.id"
        ng-model="data.attributesSelected"></select>
  <input type="text" ng-model="attributevalues.value" name="" placeholder="">-->
<button class="addfields" ng-click="addNewChoice2()">Vista</button></br>
   
<table class="table table-striped table-advance table-hover">
    <tbody>
        <tr> 
            <th><i class="icon_profile"></i> Attribute</th>
            <th><i class="icon_pin_alt"></i> Value</th>
            <th><i class="icon_pin_alt"></i> device id</th>
            <th ng-show="isAdmin"><i class="icon_cogs"></i> Aðgerðir</th>
        </tr>
        <tr data-ng-repeat="d in attributesAdd"> 
            <td>{{ d.name }}</td>
            <td>{{ d.value }}</td>
            <td>{{ d.itemID}}</td>
            <td ng-show="isAdmin">
                <div class="btn-group">
                    <a class="btn btn-primary"><i class="icon_plus_alt2"></i></a>
                    <a class="btn btn-success"><i class="icon_check_alt2"></i></a>
                    <a class="btn btn-danger" ng-click ="removeChoice2()"><i class="icon_close_alt2"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<button class="addfields" ng-click="addattributesExtra()">Klára</button>
<button ui-sref="home.itemprofile({id :deviceId.iid})" class="btn btn-primary">Sleppa</button>