<div class="container">
    <div class="row topmargin">
        <div class="col-md-10">  
             <h1>Loftnet</h1>
        </div>
        <div class="col-md-2 pull-right">  
            <!-- Standard button -->
            <button ng-show="isAdmin" ng-model="sub" ng-click="sub=!sub"  type="button" class="btn btn-default pull-right">Bæta við loftneti</button>
        </div>
    </div>
</div>

<!-- Add antenna starts  -->

<div class="container"> 
    <div ng-show="sub" class="row">
        <form class="form-horizontal" ng-submit="addAntenna()">   
            <div class="white-bg">
                <div class="row "> 
                    <div class="col-md-12">      
                        <div class="col-md-10"> 
                            <div ng-show="error" class="alert alert-danger row">
                                <span>{{ error.message }}</span>
                            </div>
                            <div class="form-group">
                                <label for="antennaName" class="col-sm-3 control-label">Tegund</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="antennaName" placeholder="Nafn" ng-model="antennaName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="model" class="col-sm-3 control-label">Módel</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="model" placeholder="Model nafn" ng-model="model">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="igs" class="col-sm-3 control-label">IGS</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="igs" placeholder="Igs" ng-model="igs">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-10 pull-right">
                                    <button type="submit" ng-click="sub=!sub" class="btn btn-default pull-right">Skrá loftnet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </form>
     </div>
</div>
<div class="container white-bg1">
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Sláðu inn leitarorð</label>
                <input type="text" ng-model="searchText" class="form-control" name="search" id="search" placeholder="Sláðu inn leitarorð">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table >
                <tbody>
                    <tr>
                        <!--<th>#</th>  -->
                        <th><i class="glyphicon glyphicon-tag"></i> Tegund</th>
                        <th><i class="glyphicon glyphicon-registration-mark"></i> Módel</th>
                        <th><i class="glyphicon glyphicon-info-sign"></i> Lýsing</th>
                        <th ng-show="isAdmin"><i class="glyphicon glyphicon-cog"></i> Aðgerðir</th>
                    </tr>
                    <tr data-ng-repeat="ant in AllAntenna | orderBy:'name'| filter:searchText">
                       <!-- <td>{{ ant.id }}</td> -->
                        <td>{{ ant.name }}</td>  
                        <td>{{ ant.model }}</td> 
                        <td>{{ ant.igs_defined }}</td> 
                        <td ng-show="isAdmin">
                            <div class="btn-group">
                                <button type="button" ui-sref="home.editAntenna({name :ant.name})" class="btn-small"><i class="glyphicon glyphicon-edit"></i></button>
                            </div>
                        </td>    
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <img src="/image/web/antenna.jpg" width="80%">
        </div>  
    </div>
</div>

        