<div class="container">
    <div class="row topmargin">
        <div class="col-md-10">  
              <h1>Tengiliðir</h1>
        </div>
        <div class="col-md-2 pull-right">  
            <!-- Standard button -->
            <button ng-show="isAdmin" ng-model="sub" ng-click="sub=!sub" type="button" class="btn btn-default pull-right">Bæta við tengilið</button>
        </div>
    </div>

</div>
<!-- Add contact starts -->
<div class="container"> 
    <div ng-show="sub" class="row">
        <form name="myForm" class="form-horizontal" ng-submit="addContact()">
            <div class="white-bg">
                 <div class="row">
                     <div class="col-md-12">      
                        <div class="col-md-4">                
                            <div ng-show="error" class="alert alert-danger row">
                                <span>{{ error.message }}</span>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">Nafn</label>
                                <div class="col-sm-9">
                                    <input type="text" name="firstname" class="form-control" id="inputName" placeholder="Nafn" ng-model="name" required>
                                    <div ng-messages="myForm.firstname.$error">
                                        <div ng-message="required">Nafn er skylda</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTitle" class="col-sm-3 control-label">Titill</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputTitle" placeholder="Titill" ng-model="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCompany" class="col-sm-3 control-label">Fyritæki</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputCompany" placeholder="Fyrirtæki" ng-model="company">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-3 control-label">Tölvupóstfang</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Tölvupóstur" ng-model="email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputPhone" class="col-sm-3 control-label">Símanúmer</label>
                                <div class="col-sm-9">
                                    <input type="phone" class="form-control" id="inputPhone" placeholder="Sími" ng-model="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputGsm" class="col-sm-3 control-label">Gsm</label>
                                <div class="col-sm-9">
                                    <input type="phone" class="form-control" id="inputGsm" placeholder="Gsm" ng-model="gsm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputwww" class="col-sm-3 control-label">Heimasíða</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputwww" placeholder="www" ng-model="www">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputComment" class="col-sm-3 control-label">Upplýsingar</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="inputComment" placeholder="Upplýsingar" ng-model="comment" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                               
                                <label for="file" class="col-sm-3 control-label">Mynd</label>
                                <div class="col-sm-9">
                                <input type="file" ngf-select ngf-change="uploadContactPic(picFile)"  ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB">
                            </div>
                    
                                <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
                                
                                <div class="form-group">
                                <div class="col-md-9 topmargin">
                                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb pull-right"> 
                                </div>
                               </div>
                            </div>
                        </div>

                        <div class="col-md-12 pull-right margin-b3">
                            <div class="form-group">
                                <button type="submit" ng-click="sub1=!sub1; sub=false" class="btn btn-default pull-right">Bæta við tengilið</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container white-bg1">
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label for="search"  class="sr-only">Sláðu inn leitarorð</label>
                <input type="text" ng-model="searchText" class="form-control" name="search" id="search" placeholder="Sláðu inn leitarorð">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <table>
                <tbody> 
                    <tr> 
                        <th><i class="glyphicon glyphicon-user"></i> Nafn</th>
                        <th><i class="glyphicon glyphicon-envelope"></i> Netfang</th>
                        <th><i class="glyphicon glyphicon-phone-alt"></i> Símanúmer</th>
                        <th><i class="glyphicon glyphicon-blackboard"></i> Deild</th>
                        <!--<th ng-show="isAdmin"><i class="icon_cogs"></i> Aðgerðir</th>-->
                    </tr>
                    <tr data-ng-repeat="contact in contacts | orderBy:'name' |  filter:searchText">    
                        <td><a ui-sref="home.cname({name :contact.name})">{{ contact.name }}</a></td>
                        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                        <td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td> 
                        <td>{{ contact.company }}</td>  
                        <!--<td ng-show="isAdmin">
                            <div class="btn-group">
                                 <button type="button" class="btn-small pull-right"><i class="glyphicon glyphicon-edit"></i></button>
                            </div>
                        </td>-->
                    </tr>
                </tbody>
            </table>      
        </div>
        <div class="col-md-6">
            <img src="/image/web/vedur1.jpg" width="100%">
        </div>
    </div>
</div>




