<div class="container">
    <div class="row topmargin">
        <div class="col-md-7">  
              <h1>Tengiliðir</h1>
        </div>      
    </div>
</div>
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>

<div class="container">
  	<div class="row">
  		<div class="white-bg">
        	<div class="row">
          		<div class="col-md-12"> 
              		<div class="col-md-4">
                		<div class="form-group">
                  			<h2>{{ contactInfo.name }}</h2>
                 			 <span class="col-sm-12 blue-line-profile"></span>
                  			<img id="profile-img" ng-src=".{{contactInfo.imageurl}}" >
                		</div>
              		</div>
              		<div class="col-md-4"> 
		                  <div class="p-table">
		                    <i class="glyphicon glyphicon-envelope"></i>
		                     {{ contactInfo.email }}
		                  </div>
		                  <div class="p-table">
		                    <i class="glyphicon glyphicon-phone"></i> 
		                      {{ contactInfo.gsm }}
		                  </div>
		                  <div class="p-table">
		                    <i class="glyphicon glyphicon-phone-alt"></i>     
		                      {{ contactInfo.phone }}
		                  </div>
		                  <div class="p-table">
		                    <i class="glyphicon glyphicon-phone-alt"></i>     
		                      {{ contactInfo.www }}
		                  </div>
		              </div>
		              <div class="col-md-4">
		                <div class="p-table">
		                  <i class="glyphicon glyphicon-home"></i> 
		                    {{user.company}}
		                </div>
		                <div class="p-table">
		                  <i class="glyphicon glyphicon-education"></i> 
		                    {{user.address}}
		                </div>
		                <div class="p-table">
		                  <i class="glyphicon glyphicon-info-sign"></i> 
		                   {{ contactInfo.comment }}
		                </div>
		              </div>
        			</div>
      			</div>
      		</div>
    	</div>
  	</div>
</div>



	    
	          