<!-- profile -->
<div id="profile" class="tab-pane">
    <section class="panel">
    <!--<div class="bio-graph-heading">
                Hello I’m Jenifer Smith, a leading expert in interactive and creative design specializing in the mobile medium. My graduation from Massey University with a Bachelor of Design majoring in visual communication.
        </div>-->
        <div class="panel-body bio-graph-info">
            <h1>Bio Graph</h1>
            <div class="row">
                <div class="bio-row">
                    <p><span>Username </span>: {{user.username}} </p>
                </div>
                <div class="bio-row">
                    <p><span>Name </span>: {{user.name}}</p>
                </div>                                              
                <div class="bio-row">
                    <p><span>Role</span>: {{user.roles}}</p>
                </div>
                <div class="bio-row">
                    <p><span>Company</span>: {{user.company}}</p>
                </div>
                <div class="bio-row">
                    <p><span>Address </span>: {{user.address}}</p>
                </div>
                <div class="bio-row">
                    <p><span>Email </span>:{{user.email}}</p>
                </div>
                <div class="bio-row">
                    <p><span>Phone </span>: {{user.phone}}</p>
                </div>
                <div class="bio-row">
                    <p><span>Comments </span>: {{user.comments}}</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">                                              
        </div>
    </section>
</div>
