<div class="container">
    <div class="row topmargin">
        <div class="col-md-7">  
            <h1>Starfsmaður</h1>
        </div>
        <div class="col-md-5" ng-show="isAdmin">  
            <button type="button" ng-model="sub1" ng-click="sub1=!sub1; sub=false"class="btn btn-default pull-right margin-l1 topmargin">Breyta upplýsingum</button>

        </div>
    </div>

</div>

<div class="container"> 
  <div  class="row">
    <form name="myForm" class="form-horizontal" ng-submit="update()">
      <div class="white-bg">
        <div class="row">
          <div class="col-md-12"> 
            <!--  Add user start --> 
            <div ng-show="sub1" > 
              <div class="col-md-4"> 
                <div ng-show="error" class="alert alert-danger row">
                    <span>{{ error.message }}</span>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-sm-3 control-label">Notendanafn</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Notendanafn" ng-model="adduser.username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-3 control-label">Nafn</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Nafn" ng-model="adduser.name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-3 control-label">Réttindi/staða</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Role" ng-model="adduser.roles">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPhone" class="col-sm-3 control-label">Deild</label>
                  <div class="col-sm-9">
                    <input type="phone" class="form-control" id="inputPhone" placeholder="Company" ng-model="adduser.company">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputGsm" class="col-sm-3 control-label">Sími</label>
                  <div class="col-sm-9">
                    <input type="phone" class="form-control" id="inputGsm" placeholder="Sími" ng-model="adduser.phone">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputwww" class="col-sm-3 control-label">Netfang</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputwww" placeholder="Netfang" ng-model="adduser.email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputwww1" class="col-sm-3 control-label">Aðsetur</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputwww1" placeholder="Address" ng-model="adduser.address">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputComment" class="col-sm-3 control-label">Comment</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" id="inputComment" placeholder="Comments" ng-model="adduser.comments" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                                <label for="roles" class="col-sm-3 control-label">Réttindi</label>
                                <div class="col-sm-9" id="roles">

                                </div>
                          
                
                                <label class="checkbox-inline col-sm-3 control-label">
                                    <input type="checkbox" name="isreader" ng-model="adduser.isreader"> Skoða <br/>
                                    </label>
                
                                <label class="checkbox-inline col-sm-3 control-label">
                                    <input type="checkbox" name="iswriter" ng-model="adduser.iswriter"> Skrifa
                                </label>
                
                                <label class="checkbox-inline col-sm-3 control-label">
                                    <input type="checkbox" name="ismoderator" ng-model="adduser.ismoderator"> Breyta<br/>
                                    </label>


                                <label class="checkbox-inline col-sm-3 control-label">
                                    <input type="checkbox" name="isadmin" ng-model="adduser.isadmin">Stjórnandi<br/>
                                </label>



                                <label class="checkbox-inline col-sm-4 control-label">
                                    <input type="checkbox" name="ismoderator" ng-model="adduser.isactive"> Notandi virkur<br/>
                                </label>

  
                            </div>
                                 
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <img ng-show="!myForm.file.$valid" src="/image/users/undefined.png" height="100" width="100" >
                  <label for="file" class="col-sm-3 control-label">Mynd</label>
                  <div class="col-sm-9">
                    <input type="file" ngf-select ngf-change="uploadUserPic(picFile)"  ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB">
                  </div>
                  <i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
                  <div class="form-group">
                    <div class="col-md-9 topmargin">
                      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb pull-right"> 
                    </div>
                    </div>
                </div>

              </div>
              <div class="col-md-4">
              <div class="form-group">
                  <label for="old" class="col-sm-3 control-label">Gamla lykilorð</label>
                  <div class="col-sm-9">
                    <input type="phone" class="form-control" id="old" placeholder="Gamla lykilorðið" ng-model="changepass.oldPassword">
                  </div>
                </div>
        
              <div class="form-group">
                  <label for="new" class="col-sm-3 control-label">Nýtt lykilorð</label>
                  <div class="col-sm-9">
                    <input type="phone" class="form-control" id="new" placeholder="Nýtt lykilorð" ng-model="changepass.newPassword">
                  </div>
                </div>
           
              <div class="form-group">
                  <label for="conf" class="col-sm-3 control-label">Staðfesta lykilorð</label>
                  <div class="col-sm-9">
                    <input type="phone" class="form-control" id="conf" placeholder="Staðfesta lykilorð" ng-model="changepass.confirmPassword">
                  </div>
                </div>
                </div>
              <div class="col-md-12 pull-right margin-b3">
                <div class="form-group">
                  <button type="submit" ng-click="sub1=!sub1; sub=!sub1" class="btn btn-default pull-right">Nýskrá</button>
                </div>
              </div>
            </div>
            <!--  Add user ends -->
            <!--  User profile starts -->  
            <div ng-show="sub=!sub1">
              <div class="col-md-2">
                <div class="form-group">
                  <h2>{{user.name}}</h2>
                  <span class="col-sm-12 blue-line-profile"></span>
                  <img id="profile-img" ng-src=".{{user.imageurl}}" >
                </div>
              </div>
              <div class="col-md-4"> 
                  <div class="p-table">
                    <i class="glyphicon glyphicon-envelope"></i>
                     {{user.email}}
                  </div>
                  <div class="p-table">
                    <i class="glyphicon glyphicon-phone"></i> 
                      {{user.phone}}
                  </div>
                  <div class="p-table">
                    <i class="glyphicon glyphicon-education"></i>     
                      {{user.roles}}
                  </div>
              </div>
              <div class="col-md-4">
                <div class="p-table">
                  <i class="glyphicon glyphicon-home"></i> 
                    {{user.company}}
                </div>
                <div class="p-table">
                  <i class="glyphicon glyphicon-map-marker"></i> 
                    {{user.address}}
                </div>
                <div class="p-table">
                  <i class="glyphicon glyphicon-info-sign"></i> 
                    {{user.comments}}
                </div>
              </div>

            </div>
            <!--  User profile ends --> 
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container white-bg1">
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="form-group has-feedback margin-top">
                <label for="search" class="sr-only">Sláðu inn leitarorð</label>
                <input type="text"  ng-model="searchText" class="form-control" name="search" id="search" placeholder="Sláðu inn leitarorð">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>
    <div class="row" ng-controller="AuditCtrl">
        <div class="col-md-12">  
          <li dir-paginate="item in getUserHistory | filter:searchText | itemsPerPage:5">
              <h4><a ng-click="showDetails = ! showDetails">Notandi {{item.new_val.audit_id}} framkvæmdi {{item.operation}} á eftirfarandi töflu: {{item.tablename}}</a></h4>
              <div class="ble" ng-show="showDetails">
              <p>Ný færsla:    {{item.new_val}}</p>
              <p>Eldri Færsla: {{item.old_val}}</p>
            </div>
            </li> 
             <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" > </dir-pagination-controls>
          </div>       
    </div>
</div>




  
