.bgimage {
background-image: url(/../image/bg-1.jpg);
background-size: 100%;
}
.bgimage-inside {
padding-top: 37.36%; /* this is actually (426/1140)*100 */
}
.containerHome {
	transition: padding 500;
}
.containerHome-is-open {
	padding-left: 200px;
}